@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

.bg-custom-gradient {
  background-image: url('../images/gradient.svg');
  background-repeat: no-repeat;
  background-position: top center;
}
